# Your openai api key. (required)
OPENAI_API_KEY=sk-xxxx

# Override openai api request base url. (optional)
# Default: https://zaiduyu.top
# Examples: http://your-openai-proxy.com
BASE_URL=

# Specify OpenAI organization ID.(optional)
# Default: Empty
OPENAI_ORG_ID=

# Access password, separated by comma. (optional)
CODE=your-password

# You can start service behind a proxy. (optional)
PROXY_URL=http://localhost:7890

# Enable MCP functionality (optional)
# Default: Empty (disabled)
# Set to "true" to enable MCP functionality
ENABLE_MCP=

# If you do not want users to use GPT-4, set this value to 1.
DISABLE_GPT4=

# If you do not want users to input their own API key, set this value to 1.
HIDE_USER_API_KEY=

# If you want to disable parse settings from url, set this value to 1.
DISABLE_FAST_LINK=

# To control custom models, use + to add a custom model, use - to hide a model, use name=displayName to customize model name, separated by comma.
CUSTOM_MODELS=

# Change default model in every new chat window
DEFAULT_MODEL=

# Vision models, separated by comma
VISION_MODELS=

# Custom template for preprocessing user input
DEFAULT_INPUT_TEMPLATE=

# --- Azure ---
AZURE_URL=
AZURE_API_KEY=
AZURE_API_VERSION=

# --- Google Gemini ---
GOOGLE_API_KEY=
GOOGLE_URL=

# --- Anthropic Claude ---
ANTHROPIC_API_KEY=
ANTHROPIC_API_VERSION=
ANTHROPIC_URL=

# --- Baidu ERNIE ---
BAIDU_URL=
BAIDU_API_KEY=
BAIDU_SECRET_KEY=

# --- ByteDance Doubao ---
BYTEDANCE_URL=
BYTEDANCE_API_KEY=

# --- Alibaba Qwen ---
ALIBABA_URL=
ALIBABA_API_KEY=

# --- Tencent Hunyuan ---
TENCENT_URL=
TENCENT_SECRET_KEY=
TENCENT_SECRET_ID=

# --- Moonshot ---
MOONSHOT_URL=
MOONSHOT_API_KEY=

# --- iFlytek Spark ---
IFLYTEK_URL=
IFLYTEK_API_KEY=
IFLYTEK_API_SECRET=

# --- DeepSeek ---
DEEPSEEK_URL=
DEEPSEEK_API_KEY=

# --- XAI ---
XAI_URL=
XAI_API_KEY=

# --- ChatGLM ---
CHATGLM_URL=
CHATGLM_API_KEY=

# --- SiliconFlow ---
SILICONFLOW_URL=
SILICONFLOW_API_KEY=

# --- 302.AI ---
AI302_URL=
AI302_API_KEY=

# --- Stability ---
STABILITY_URL=
STABILITY_API_KEY=

# --- WebDAV Whitelist (optional) ---
WHITE_WEBDAV_ENDPOINTS=

# --- Google Tag Manager (optional) ---
GTM_ID=

# --- Google Analytics (optional) ---
GA_ID=
